<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <b> Welcome to Seungjin Park!</b>
                    <p>{{site.author-about}}</p>
                    <br>
                    <b>Education</b>
                    <br>
                    2019.03.~ Present. M.S. Department of Electronics Education, Incheon National University, South Korea.
                    <br>
                    2013.03.~ 2019.02. B.S. Department of Electronics, Seoul National University of Science and Technology, South Korea.
                    <br>
                    2017.12.~ 2018.06. International Student Program, Western Carolina Universy, NC, United States.
                    <br>
                    <br>
                    <b>Career</b>
                    <br>
                    2019.04.~ Present. S/W Developer /Department of Research and Development, Daesung Measuring Co., Ltd.
                    <br>
                    <br>
                    <b>Research and Development</b>
                    <br>
                    2021.04.~2022.04. 산업용 IoT 디바이스를 위한 일차 리튬전지 동작 수명 예측 및 잔량 측정 기술 개발
                        <a href="https://www.ntis.go.kr/project/pjtInfo.do?pjtId=1415173824">국가연구과제 상세보기</a>
                    <br>
                    2019.04.~2019.12. 광역 AMI를 위한 정밀 측위 기능을 갖는 하이브리드 IoT 디바이스 개발
                        <a href="https://www.ntis.go.kr/project/pjtInfo.do?pjtId=1711093493&pageCode=TH_MYPJT_PJT_DTL">국가연구과제 상세보기</a>
                    <br>
                    <br>
                    <b>Download</b>
                    <br>
                    <a href=/assets/pdf/graduation.pdf>박승진, 이정섭, 강동욱, 김종표, 졸업작품 보고서 "IoT기반 화재탐사용 RC CAR", 2016</a>
                    <br>
                    <br>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>